[submodule "libedgetpu"]
  path = libedgetpu
  url = https://github.com/jhansom/libedgetpu
[submodule "test_data"]
  path = test_data
  url = https://github.com/jhansom/test_data
[submodule "libcoral"]
  path = libcoral
  url = https://github.com/jhansom/libcoral
